obj/
bin/
.ionide/
.fake
*.xlsx
src/Tests/RegressionTests/Actual
src/.vs/FsExcel/v16/.suo
src/.vs/FsExcel/v16/TestStore/0/000.testlog
src/.vs/FsExcel/v16/TestStore/0/testlog.manifest
src/.vs/FsExcel/DesignTimeBuild/.dtbcache.v2
.vs/slnx.sqlite
